:root {
  color-scheme: light dark;
}

*{
    margin: 0
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: light-dark(#ccc, rgb(36, 36, 36));
    padding: 35px;
}

header h1{
    background-image: linear-gradient(to right, rgb(232, 62, 232), rgb(0, 94, 255));
    background-clip: text;
    color: transparent;
    font-family: "Vend Sans";
    font-size: 35px;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 22px;
    font-size: 17px;
    font-family: "Open Sans";
}
nav a{
    color: light-dark(rgb(49, 49, 66), #f27983);
    text-decoration: none;
}

main{
    font-family: "Open Sans";
    margin: 45px 50px;
}

mark{
    background-color: light-dark(rgb(86, 86, 178),lightgray);
}