:root {
  color-scheme: light dark;
}

*{
    margin: 0
}

html {
  scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: light-dark(#ccc, rgb(36, 36, 36));
}

.header-center{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.search-container {
    width: 100%;
    max-width: 500px;
}

header h1{
    white-space: nowrap;
    margin: 0;
}

.header-right{
    width: 50px; 
}

header img{
    width: 45px;
    height: 45px;
}

header h1{
    background-image: linear-gradient(to right, rgb(232, 62, 232), rgb(0, 94, 255));
    background-clip: text;
    color: transparent;
    font-family: "Vend Sans";
    font-size: 35px;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 22px;
    font-size: 17px;
    font-family: "Open Sans";
}
nav a{
    color: light-dark(rgb(49, 49, 66), #f27983);
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 40px;
    background-color: black;
    color: white;
    font-family: "Vend Sans";
}

footer a{
    color: blue;
}

footer h3{
    color: rgb(154, 154, 154)
}

main{
    font-family: "Open Sans";
    margin: 45px 50px;
}

mark{
    background-color: light-dark(rgb(158, 158, 255),lightgray);
}

.footer-main{
    display: flex;
    flex-direction: column;
}

.showcase {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 12px 0;
    background-color: light-dark(rgb(211, 224, 255), rgb(67, 67, 67));
    padding: 50px 20px;
    border-radius: 40px;
}

.show-card {
    width: 300px;
    min-height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(101, 105, 238), rgb(109, 36, 245));
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.show-card:hover {
    transform: translateY(-15px);
}

.show-card img {
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 25px;
}

.show-card h3 {
    font-size: 17px;
    line-height: 1.4;
}

.divider{
    margin: 10px 0;
}

.showcase-ext h1{
    margin-top: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: light-dark(rgb(211, 224, 255), rgb(67, 67, 67));
}

#extra{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: light-dark(lightgray, gray);
    padding: 40px;
    max-width: 1000px;
    font-size: 1.3em;
    line-height: 1.6;
    border-radius: 15px;
}

.extra-ext{
    display: flex;
    justify-content: center;
}

.centered{
    display: flex;
    justify-content: center;
    margin: 30px;
}